* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(49, 49, 49);
}

/* BOTÃO PESQUISA */

.search-box {
    display: grid;
    position: absolute;
    top: 4%;
    left: 25%;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}


.inp {
    border-radius: 10px;
    width: 500px;
    border: none;
    outline: none;
    padding: 0;
    font-size: 1.1rem;
    line-height: 30px;
}

.icon {
    display: block;
    color: yellow;
    background-color: brown;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 1px;
    margin-left: 82%;
    text-align: center;
}

.search {
    display: inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* MENU */

.logo {
    display: flex;
    max-width: 100px;
    max-width: 100px;
}

ul {
    list-style: none;
}

.list{
    gap: 20px;
    align-items: center;
}

.menu {
    padding-top: 10%;
    display: flex;
}

.banner-img {
    background-color: rgba(255, 255, 0, 0.795);
}

.header-box {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 6px;
    /* color */
    background-color: rgba(44, 136, 190, 0.87);
}

.link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 6px;
    gap: 40px;
    font-size: 22px;
    /* color */
    color: darkblue;
    background-color: rgba(255, 255, 0, 0.884);
}

/* BANNER */

.banner-img {
    display: ruby-base-container;
    text-align: left;
}

.banner {
    margin: auto;
    display: flex;
    max-width: 500px;
    max-height: 800px;
}

.img-banner-1 {
    display: block;
    max-width: 300px;
    max-height: 600px;
    float: left;
    margin: auto;
    height: 50%;

}

.img-banner-2{
    display: flex;
    max-width: 300px;
    max-height: 600px;
    float: right;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-rows: 100px;
    grid-template-columns: 1fr
    
}

.title-products {
    max-width: 10px;
    max-height: 20px;
    float: none;
}

.image-products {
    border-radius: 10px;
    display: block;
    margin-bottom: 5-px;
    max-width: 100px;
    max-height: 150px;
}

.button {
    margin-bottom: 40px;
    text-align: center;
    display: block;
}

h5 {
    display: inline-table;
    text-align: justify;
}

h4 {
    margin-top: -50%;
    margin-left: 10%
}